@font-face{
    font-family:"Formular";
    src: url('../fonts/Formular/Formular.eot');
    src: url('../fonts/Formular/Formular.eot?iefix') format('eot'),
    url('../fonts/Formular/Formular.woff') format('woff'),
    url('../fonts/Formular/Formular.ttf') format('truetype'),
    url('../fonts/Formular/Formular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Formular";
    src: url('../fonts/FormularBold/Formular-Bold.eot');
    src: url('../fonts/FormularBold/Formular-Bold.eot?iefix') format('eot'),
    url('../fonts/FormularBold/Formular-Bold.woff') format('woff'),
    url('../fonts/FormularBold/Formular-Bold.ttf') format('truetype'),
    url('../fonts/FormularBold/Formular-Bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family:"Formular-medium";
    src: url('../fonts/FormularMedium/Formular-Medium.eot');
    src: url('../fonts/FormularMedium/Formular-Medium.eot?iefix') format('eot'),
    url('../fonts/FormularMedium/Formular-Medium.woff') format('woff'),
    url('../fonts/FormularMedium/Formular-Medium.ttf') format('truetype'),
    url('../fonts/FormularMedium/Formular-Medium.svg#webfont') format('svg');
    font-weight: medium;
    font-style: normal;
}

.mainbar{
    margin-top: 34px;
    margin-bottom: 120px;
    font-family: Formular;
    font-weight: bold;
    font-size: 28px;
}
.shpic{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
}
.zag1{
    margin-top:57px;
    margin-bottom:21px;
    font-family: Formular-medium;
    font-size:32px;
    color:#4b721d;
}
.razdel1{
    margin-bottom: 55px;
    font-family: Formular;
    font-weight: normal;
    height:384px;
    font-size:21px;
    color:#515151;
}
.bp{
    height: 384px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
    width:263px;
}
.bp2{
    padding-left: 22px;
}
.bp3{
    padding-left: 30px;
}
.bp4{
    padding-left: 37px;
}
.raztm{
    font-family: Formular;
    margin-left:29px;
}
.cennik1{
    font-size:28px;
    float:left;
    color:#9d9d9d;
    margin-right:32px;
}
.cennik2{
    font-size:28px;
    
    color:#4b721d;
}
A{
    color:inherit;
}
A:hover{
    text-decoration: none;
    color:inherit;
}
A:visited{
    color:inherit;
}
.fon1{
    color:#ffffff;
    font-weight:bold;
    font-size:42px;
    height: 302px;
    border-radius: 2px;
    background-color: rgba(46, 46, 46, 0.21);
    background-image:url('../img/cp-1.jpg'); 
    width: 555px;
}
.fon2_2{
    padding-left: 30px;
}
.fon2{
    color:#ffffff;
    font-weight:bold;
    font-size:42px;
    height: 302px;
    border-radius: 2px;
    background-image:url(../img/cp-2.png);
    background-position: center; 
    width: 555px;
}
.fon3{
    margin-left: 15px;
    padding: 0 0 0 0;
    color:#ffffff;
    font-weight:bold;
    font-size:42px;
    width: 1140px;
    height: 364.4px;
    border-radius: 2px;
    background-image:url(../img/cp-3.png);
}
.fon4{

    padding: 0 0 0 0;
    color:#ffffff;
    font-weight:bold;
    font-size:42px;
    width: 555px;
    height: 302px;
    border-radius: 2px;
    background-image:url(../img/cps-3.png);
}
.mask{
    padding-top:126px;
    text-align: center;
    width: 555px;
    height: 302px;
    border-radius: 2px;
    background-color: rgba(46, 46, 46, 0.21);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    z-index: 2;
    max-width:100%;
}
.mask2{
    padding-top:126px;
    text-align: center;
    width: 555px;
    height: 302px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    max-width:100%;
}
.mask3{
    padding-top:157px;
    text-align: center;
    width: 1140px;
    height: 364.4px;
    border-radius: 2px;
    background-color: rgba(46, 46, 46, 0.21);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    z-index: 2;
}
.marg{
    margin-top: 30px;
    margin-bottom: 85.6px;
}

.grey{
    width: 100%;
    background: #f4f4f4;
    height: 100%;
    padding-top:36px;
    color:#666666;
    font-size:21px;
    font-family:Formular;
    background-size: 100%;
    padding-bottom: 36px;
}
.len{
    width: 100%;
    text-align: center;
    color:#c3c3c3;
    font-size:16px;
    margin: 15px 0 20px 0;
}
.navbar {
    background: #ffffff;
	border: none;
	border-radius: 0;
    height: 94px;
}

.mt1{
    color:#80bb3d !important;
    font-family: Formular;
    
}
.navbar-default .navbar-nav > li > a {
    font-family: 'Formular', sans-serif, arial;
    color: #4b721d;
    font-size:28px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #4b721d;
}

.navbar-default .navbar-nav>li.active>a {
	color: #4b721d;
}
.navbar-default .navbar-nav>li.active>a:hover {
	color: #4b721d;
}
ul{
    background:white;
}
.navbar-default{
    border-color: #80bb3d;
}
.navbar-toggle{
    margin-right: 30px;
    margin-top: 30px;
}
.navbar-text{
    padding-right: 0px !important;
}
.carousel-inner{
    padding-left: 20px;
}
.carousel-inner > .item > img {
    margin: auto auto;
    padding: auto 0;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    font-size: 42px;
    font-weight: bold;
}
.zerpad{
    padding-left: 0px;
    margin-bottom: 20px;
}
.carousel-indicators{
    display:none;
}
.carousel-control{
    display:none;
}
.big{
    max-width: 100%;
}
@media (max-width: 577px){
    .big{
        display:none;
    }
    .navbar-brand{
        display:none;
    }
    .navbar{ 
        height: 50px !important;
    }
    .navbar-toggle{
        margin-top:8px;
    }
    .carousel-caption{
        font-size:21px;
    }
    .maxfixs{
        width:100%;
    }
    
}
@media (min-width: 578px){
    .small{
        display:none;
    }
}
@media (max-width: 767px){
    .conct1{
        display:none;
    } 
    .maxfix{
        width:100%;
        max-width: 100%;
    }
    .carousel-caption{
        font-size:30px;
    }
}
@media (min-width: 1200px){
    .bitsmall{
        display:none;
    }
}
@media (max-width: 1199px) {
    .nemo{
        margin-bottom: 20px;
    }
    .toobig{
        display:none;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 24px;
    }
    .bp3{
        padding-left:15px;
    }
    .bp4{
        padding-left:20px;
    }
}